# idea
*.iml
*.ipr
*.iws
*.log

*.swp
*.jar
*.pyc
*.json
*.DS_Store

src/main/resources/phenotypeCR/

logs/
target/
build/
out/
Analysis/

db_files/
libs/



# bash stuff
.direnv/
.envrc

.idea/
.gradle/



